/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', sans-serif;
}

/* Background */
body {
  background: radial-gradient(
      circle at 0% 50%,
      rgb(0, 0, 0),
      transparent 40%
    ),
    radial-gradient(
      circle at 120% 50%,
      rgb(0, 0, 0),
      transparent 40%
    ),
    #ffffff;

  color: #e6f1ff;
  font-family: "Orbitron", sans-serif;
  min-height: 100vh;
}

/* Cyber Grid Overlay */
body::before {
  content: "";
  position: fixed;
  inset: 0;
  background-image: 
    linear-gradient(rgba(0,255,255,0.05) 1px, transparent 1px),
    linear-gradient(90deg, rgba(0,255,255,0.05) 1px, transparent 1px);
  background-size: 40px 40px;
  pointer-events: none;
  z-index: -1;
}

/* Smooth transitions everywhere */
* {
  transition: all 0.25s ease;
}

/* Scrollbar */
::-webkit-scrollbar {
  width: 6px;
}
::-webkit-scrollbar-thumb {
  background: #1e293b;
  border-radius: 10px;
}
.content {
  margin-left: 240px;
  margin-top: 90px;
  padding: 25px;
}
.content > div {
  background: linear-gradient(
    145deg,
    rgba(11, 18, 32, 0.9),
    rgba(15, 23, 42, 0.8)
  );
  border: 1px solid rgba(0, 224, 255, 0.08);
  border-radius: 14px;
  padding: 25px;
  box-shadow:
    0 0 40px rgba(0, 224, 255, 0.05),
    inset 0 0 20px rgba(124, 58, 237, 0.05);
}

@keyframes fadeIn {
  from { opacity: 0; transform: translateY(10px); }
  to { opacity: 1; transform: translateY(0); }
}


.leaflet-interactive {
  filter: drop-shadow(0 0 6px #00e0ff);
}

.alert-marker {
  animation: pulseAlert 1.5s infinite;
}

@keyframes pulseAlert {
  0% { transform: scale(1); opacity: 0.8; }
  50% { transform: scale(1.5); opacity: 0.4; }
  100% { transform: scale(1); opacity: 0.8; }
}
.alert-camera {
  animation: cameraPulse 1s infinite;
}

@keyframes cameraPulse {

  0% {
    transform: scale(1);
    opacity: 1;
  }

  50% {
    transform: scale(1.8);
    opacity: 0.5;
  }

  100% {
    transform: scale(1);
    opacity: 1;
  }

}

.leaflet-tooltip {
  background: rgba(0,0,0,0.7);
  border: 1px solid #00e0ff;
  color: #00e0ff;
  font-weight: bold;
  font-size: 12px;
}
.camera-active {
  background: rgba(0,0,0,0.85);
  border: 2px solid #ff3b3b;
  color: #ff3b3b;
  font-size: 16px;
  font-weight: bold;
  transform: scale(1.2);
}

.camera-inactive {
  background: rgba(0,0,0,0.7);
  border: 1px solid #00e0ff;
  color: #00e0ff;
  font-size: 11px;
  opacity: 0.6;
}
